@use '@/globals';

.YearSlider{
    display: flex;
    position: relative;
    width: 100%;

    .boat {
        position: absolute;
        width: 80px;
        bottom: 30px;
        left: -30px;
        transform: scale(-1, 1);
        transition: left 0.5s ease-out;
        animation: boatMoveIn 1s ease-out;

        &.rotated {
            transform: scale(1, 1);
        }
    }

    @keyframes boatMoveIn {
        0% {
            opacity: 0;
            left: -300px; 
        }
        50% {
            opacity: 1;
        }
        100% {
            left: -30px; 
        }
    }

    .trail {
        position: absolute;
        background-color: globals.$text;
        height: 4px;
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
        top: 7px;
        z-index: 0;
        flex-shrink: 0;
    }

    .year{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        flex-shrink: 0;
        cursor: pointer;

        text-shadow: 3px 3px 15px globals.$blockBg;
        transform: scale(1);

        &::before{
            display: block;
            height: 20px;
            width: 20px;
            // border: 2px solid globals.$text;
            background-color: globals.$text;
            border-radius: 100px;
            content: "";
        }

        &.selected {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: globals.$bp-phone) {
    .YearSlider{
        $yearWidth: 40px;

        .boat {
            bottom: 15px;
            transform: translateX(10px) scale(-0.8, 0.8);
    
            &.rotated {
                transform: translateX(10px) scale(0.8, 0.8);
            }
        }

        .trail {
            height: 2px;
            top: 5px;
            width: calc(98% - $yearWidth);
        }
    
        .year{

            font-size: 10px;
            width: $yearWidth;
    
            &::before{
                display: block;
                height: 10px;
                width: 10px;
                border: 1px solid white;
                border-radius: 100px;
                content: "";
            }

            margin-left: 5px !important;
        }
    }
  }
