@use '@/globals';

.Sailiing {
    position: relative;
    min-height: 90dvh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    .water {
        position: absolute;
        bottom: -500px;
        width: 100%;
        height: 400px;
        background-color: blue; /* Dodaj kolor lub styl dla wody */
        animation: waterSlideIn 1s ease-out forwards;
        z-index: 8;
    }

    .slider {
        position: absolute;
        bottom: 100px;
        z-index: 10;
    }
}

@keyframes waterSlideIn {
    from {
        bottom: -500px;
    }
    to {
        bottom: -250px;
    }
}


